.navbar-light .navbar-toggler {
    color: rgb(30 30 31 / 6%);
    border-color: rgba(0,0,0,.1);
}
.buy-now{
    background-color: black;
    color: white;
    padding: 9px 25px;
    border: none;
    border-radius: 8PX;
}
@media only screen and (max-width: 750px) {
    #carousel {
        margin-top: 80px;
    }
  }
.slider p{
    color: gray;
    margin: 25px 0px;
}
.products{
    padding: 50px 0px;
}
.products a{
    text-decoration: none;
    color: orange;
}
.card p{
    color: gray;
    margin-bottom: 35px;
}
.card,.card-footer{
    border: none;
}
.card-footer {
    padding-top: 0px;
}
.card img{
    width: 50%;
}
#categories{
    padding-top: 40px;
}
.categories_title{
    position: absolute;
}
.catagories_style {
    background: #FFC021;
    border-radius: 8px;
    width: 65%;
    height: 6px;
    position: relative;
    top: 0px;
    left: 20%;
}
.play-order{
    width: 100%;
}
.categories-middle img{
    width: 50%;
}
.categori-bag{
    margin-bottom: 50px;
}
.categori-shoe{
    margin-top: 50px;
}
#categories{
    padding-top: 140px;
}
@media only screen and (max-width: 750px) {
    .cat-product-1{
        width: 33%;
    }
    .cat-product-2{
        width: 33%;
    }
    .cat-product-3{
        width: 33%;
    }
    .products{
        margin-top: 40px;
    }
}
footer a{
    padding: 20px 0px;
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: orange;
}